includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: max
    paths:
        - aad-sso-wordpress.php
        - AuthorizationHelper.php
        - GraphHelper.php
        - Settings.php
        - SettingsPage.php
        - uninstall.php
        - view/
    excludePaths:
        - lib/php-jwt/tests/
        - vendor/
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    memoryLimit: 512M
    universalObjectCrates:
        - WP_User
        - WP_Error
        - WP_REST_Response
    ignoreErrors:
        - '#^Function .+ not found#'
        - '#^Class .+ not found#'
        - '#^Method .+ not found#'
        - '#^Constant .+ not found#'