includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: max
    phpVersion: 80500
    paths:
        - aad-sso-wordpress.php
        - AuthorizationHelper.php
        - GraphHelper.php
        - HttpClient.php
        - Settings.php
        - SettingsPage.php
        - Logger.php
        - uninstall.php
        - view/
    excludePaths:
        - vendor/
        - tests/
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        # Constant AADSSO_SETTINGS_PATH is defined in wp-config.php by the user
        - '#Constant AADSSO_SETTINGS_PATH not found#'
        # WordPress global variable
        - '#Property WP_Roles::\$roles#'
