<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <directory suffix=".php">vendor</directory>
            <directory suffix=".php">lib</directory>
            <directory suffix=".php">tests</directory>
        </exclude>
    </source>
    <php>
        <env name="AADSSO_DEBUG" value="true"/>
        <env name="AADSSO_DEBUG_LEVEL" value="100"/>
    </php>
</phpunit>